/* App.css */

.App {
  text-align: center;
}

.App-logo {
  height: 100px; /* Adjust the height as needed */
  width: auto;
  margin-bottom: 20px; /* Adds spacing between the logo and the title */
}

h1 {
  font-size: 24px; /* Adjust the font size as needed */
  margin-top: 0; /* Removes default margin from h1 */
}


.ClientList-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Set the container height to 100% of the viewport height */
}
